{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Demande de réinitialisation du mot de passe
{% endblock %}

{% block body %}

	<div class="block">
		<h2 class="pb-30">
			Réinitialisation du mot de passe
		</h2>

		{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type="submit" class="btn btn-primary mb-20">Soumettre</button>
		{{ form_end(form) }}


	</div>

{% endblock %}
