{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Connexion
{% endblock %}

{% block body %}

	<div class="block">
		<h2 class="pb-30">Connexion</h2>
		<form action="{{ path('app_login') }}" method="post">

			<div class="form-row">
				<label for="email">Email</label>
				<input type="email" name="_username" id="email" placeholder="Votre email" value="{{ username }}" autofocus>
			</div>

			<div class="form-row">
				<label for="password">Mot de passe</label>
				<input type="password" name="_password" id="password" placeholder="Votre Mot de passe">
			</div>

			<div class="form-row">
				<label for="remember_me">
					<input type="checkbox" name="_remember_me" id="remember_me">
					Se souvenir de moi
				</label>
			</div>

			<div class="justify-content-end d-flex">
				<small>
					<a href="{{path('app_forgot_password')}}">Mot de passe oublié ?</a>

				</small>
			</div>


			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<ul>
				{% if error %}
					<div class="form-errors pb-20">
						<li>
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</li>
					</div>
				{% endif %}
			</ul>

			<button type="submit" class="btn btn-primary mb-20">Connexion</button>
		</form>

		<div class="mt-3">
			<small>
				Pas encore de compte ?
				<a href="{{ path('app_signup') }}">Inscrivez-vous</a>
			</small>
		</div>
	</div>

{% endblock %}
