{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Réinitialisation du mot de passe
{% endblock %}

{% block body %}

	<div class="block">
		<h2 class="pb-30">
			Réinitialisé votre mot de passe
		</h2>

		{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type="submit" class="btn btn-primary mb-20">Valider</button>
		{{ form_end(form) }}


	</div>

{% endblock %}

