{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Inscription
{% endblock %}

{% block body %}

	<div class="block">
		<h2 class="pb-30">Inscription</h2>

		{{ form_start(form) }}
		{{ form_row(form.gender, {'label': false})}}
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password) }}
		{{ form_rest(form) }}
		<div style="width: 200px; margin: 0 auto; display: block;text-align: center; margin-top: 20px;">
			<button class="btn btn-primary">S'inscrire</button>
		</div>
		{{ form_end(form) }}
		<div class="justify-content-end d-flex mt-3">
			<small>
				<a href="{{ path('app_login') }}">Déjà inscrit ?</a>
			</small>
		</div>


	</div>

{% endblock %}
