{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Home
{% endblock %}

{% block body %}

	<ul>
		{% for question in questions %}
			<div class="block block-shadow d-flex flex-row mb-20">
				{% include "partials/_rating.html.twig" with { rating: question.rating, from: 'question', id: question.id } %}
				<div class="flex-fill d-flex flex-column">

					<div class="mb-20 question-content pb-20">
						<a href="{{ path('app_question_show', { id: question.id }) }}">
							<h3 class="mb-20">{{ question.title }}
								{% if question.rating > 10 %}
									<i class="fas fa-check-circle"></i>
								{% endif %}
							</h3>
							<p>{{ question.content}}...</p>
						</a>
					</div>
					<div class="d-flex flex-row justify-content-between">
						<a href="{{path('app_user_profile',{id:question.author.id})}}" class="d-flex flex-row align-items-center">

							<img class="avatar mr-10" src="{{question.author.picture}}"/>
							<small>Demandé par
								<span class="clickable">
									{{ question.author.fullName }}
								</span>
							</small>
						</a>
						<div class="d-flex flex-row align-items-center">
							<i class="far fa-comment mr-10"></i>
							<p>{{ question.nbrOfResponse }}</p>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	</ul>
{% endblock %}
