{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Une question ?
{% endblock %}

{% block body %}
	<h1 class="mb-20">
		Poser une question
	</h1>

	{{ form_start(form) }}
	<div class="block mb-20">
		{{ form_rest(form) }}
	</div>

	<button class="btn btn-primary">Demander une réponse</button>
	{{ form_end(form) }}


{% endblock %}
