{% extends 'base.html.twig' %}

{% block title %}
	{{ question.title}}
	|
	{{ parent() }}
{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	{{ encore_entry_link_tags('question_show') }}
{% endblock %}

{% block body %}
	<div class="block">
		<div class="d-flex flex-row-nowrap">
			{% include "partials/_rating.html.twig" with { rating: question.rating, from: 'question', id: question.id } %}
			<div class="d-flex flex-column" style="width: 100%">
				<div class="d-flex flex-row-nowrap align-items-center pb-30">
					<h3 class="mr-10">{{ question.title }}</h3>
					<div class="question-tag">QUESTION</div>
					<img class="avatar ml-auto" src="{{ question.author.picture }}">
				</div>
				<p class="question-text">{{ question.content }}</p>
				{% if question.comments is not empty %}
					<div class="separator"></div>
				{% endif %}
				{% for comment in question.comments %}
					<div class="d-flex flex-row-nowrap mb-20">
						{% include "partials/_rating.html.twig" with { rating: comment.rating, from: 'comment', id: comment.id} %}
						<div class="mb-20">
							<a href="{{ path('app_user_profile', { id: comment.author.id }) }}" class="d-flex flex-row-nowrap align-items-center pb-10">

								<img class="avatar mr-10" src="{{ comment.author.picture }}">
								<p class="clickable mr-10">
									{{ comment.author.fullName }}

								</p>
								<small class="ml-auto">
									{{ comment.createdAt|ago(locale='fr') }}
								</small>
							</a>
							<p class="question-response-element">{{ comment.content }}</p>

						</div>
					</div>
				{% endfor %}

				{% if form is defined %}
					<div class="separator"></div>
					<h3 class="pb-20">Votre réponse</h3>
					<div class="comment-form">
						{{ form_start(form)}}
						{{ form_rest(form) }}
						<button class="btn btn-primary">Répondre</button>
						{{ form_end(form)}}
					</div>

				{% endif %}


			</div>
		</div>
	</div>

{% endblock %}

