{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profile de {{ app.user.fullName }}
{% endblock %}

{% block body %}

	<div class="block mb-20">
		<h3 class="pb-30 text-center">réponses</h3>

		<ul class="list-unstyled">
			{% for comment in app.user.comments %}
				<li class="mb-20 justify-content-between">
					<a href="{{ path('app_question_show', {'id': comment.question.id}) }}">
						<i class="fa-solid fa-question"></i>
						{{ comment.content|slice(0, 150) }}...</a>
					<p>{{ comment.createdAt|ago(locale='fr')}}</p>

				</li>
			{% endfor %}
		</ul>


	</div>
{% endblock %}
