{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mon Profile
{% endblock %}

{% block body %}

	<div class="block mb-20">
		<h3 class="pb-30 text-center">Mes Question</h3>

		<ul class="list-unstyled d-flex flex-column">
			{% for question in app.user.questions %}
				<li class="mb-20 d-flex justify-content-between">

					<a href="{{ path('app_question_show', {'id': question.id}) }}">
						<i class="fa-solid fa-question"></i>

						{{ question.title }}</a>

					<span>{{ question.createdAt|ago(locale='fr')}}</span>
				</li>
			{% endfor %}
		</ul>


	</div>
{% endblock %}
