{% for cat,list in app.flashes %}

	{% for message in list %}
		<div class="flash flash-{{cat}}" id="flash" data-message="{{ message }}">
            {{ message }}
        </div>
	{% endfor %}

{% endfor %}
