<footer class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content p-20 color-white" style="font-size:30px">
		
made with
<i class="fas fa-heart color-crimson"></i>
by
<a href="https://gitlab.com/romyklk" class="color-white">
	Romy
</a>
for symfony project

		{{ "now"|date("Y") }}
	</div>
</footer>
