<header class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
		<a class="header-logo" href="{{ path('app_home') }}">
			<img src="{{ asset('build/images/logo/w.png')}}">
		</a>
		<div class="header-search p-10 flex-fill">
			<i class="fas fa-search"></i>
			<input type="text">
		</div>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<div class="d-flex flex-row-nowrap justify-content-center">
				<a href="{{path('app_current_user_profile')}}">
					<img src="{{ app.user.picture }}" class="mr-10 avatar-lg">
				</a>
				<small class="d-flex flex-column justify-content-center">
					<a href="{{path('app_logout')}}" class="btn btn-primary-stroke btn-small">
						Logout
						<i class="fas fa-sign-out-alt"></i>
					</a>
				</small>
			</div>

		{% else %}

			<div>
				<a href="{{path('app_signup')}}" class="btn btn-primary mr-5">
					<i class="fas fa-user"></i>
					Inscription
				</a>
				<a href="{{path('app_login')}}" class="btn btn-primary-stroke">
					<i class="fas fa-sign-out-alt"></i>
					Connexion
				</a>
			</div>

		{% endif %}

	</div>
</header>
