<div class="sidebar d-flex flex-column mr-50">
	<a href="{{ path('app_question_ask') }}" class="btn btn-primary btn-icon-primary">
		<i class="fas fa-question mr-5"></i>
		<span>
			Poser une question</span>
	</a>
	<ul class="sidebar-nav py-20">
		<a href="{{ path('app_home') }}" {% if app.request.pathinfo == path('app_home')%} class="active" {% endif %}>
			<i class="fas fa-home mr-5"></i>
			Liste des questions
		</a>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<a href="{{path('app_user_edit',{id:app.user.id})}}" {% if app.request.pathinfo == path('app_user_edit',{id:app.user.id} )%} class="active" {% endif %}>
				<i class="fas fa-user mr-5"></i>
				Modifier mes informations
			</a>
			<a href="{{path('app_user_change_password',{id:app.user.id})}}" {% if app.request.pathinfo == path('app_user_change_password',{id:app.user.id} )%} class="active" {% endif %}>

				<i class="fas fa-key mr-5"></i>
				Changer de mot de passe
			</a>

			<a href="{{path('app_my_questions')}}">
				<i class="fas fa-pen mr-5"></i>
				Mes questions</a>
			<a href="{{path('app_my_responses')}} ">
				<i class="fas fa-puzzle-piece mr-5"></i>
				Mes réponses
			</a>
		{% endif %}
	</ul>
</div>
