<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

	</head>
	<body>
		{% apply inline_css(source('@email_css/welcome.css')) %}
		<div id="container">
			<div id="header">
				<a href="{{ path('app_login') }}">
					<img src="https://images.pexels.com/photos/1337383/pexels-photo-1337383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Logo" id="logo">


				</a>
				<h2 id="center">Bienvenue sur Bonder App</h2>
			</div>

			<div id="welcome-text">
				<b>Welcome
					{{ username }}
					!</b>
				<p>Mot de passe oublié ? Pas de problème - vous pouvez le réinitialiser ci-dessous.</p>

			</div>


			<div id="image-container">
				<p>
					<a href="{{ url('app_reset_password',{ token: token }) }}" id="button">Réinitialisez votre mot de passe</a>


				</p>
				<p>
					Pas besoin de mettre à jour votre mot de passe ? Aucune action n'est requise.
				</p>
				<p>
					Ce lien de réinitialisation du mot de passe expire à
					{{ tokenLifetime }} .
				</p>
				<p>
					Sophie de WonderApp
				</p>
			</div>

			<div id="footer">
				<p>Contactez-nous | Suivez-nous sur
					<a href="https://www.facebook.com/">Facebook</a>
					| Suivez-nous sur
					<a href="https://twitter.com/">Twitter</a>
				</p>
			</div>
		</div>
		{% endapply %}

	</body>
</html>
