<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

	</head>
	<body>
		{% apply inline_css(source('@email_css/welcome.css')) %}
		<div id="container">
			<div id="header">
				<a href="{{ path('app_login') }}">
					<img src="https://images.pexels.com/photos/1337383/pexels-photo-1337383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Logo" id="logo">


				</a>
				<h1 id="center">Bienvenue sur Bonder App</h1>
			</div>

			<div id="welcome-text">
				<b>Welcome
					{{ username }}
					!</b>
				<p>Merci de vous être inscrit sur notre plateforme. Nous sommes ravis de vous accueillir !</p>
			</div>

			<div id="image-container">
				<img src="https://images.pexels.com/photos/1337383/pexels-photo-1337383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Bienvenue" id="main-image">

				<p>
					<a href="{{url('app_login')}}" id="button">Connectez-vous</a>

				</p>

				<p>
					Sophie de WonderApp
				</p>
			</div>

			<div id="footer">
				<p>Contactez-nous | Suivez-nous sur
					<a href="https://www.facebook.com/">Facebook</a>
					| Suivez-nous sur
					<a href="https://twitter.com/">Twitter</a>
				</p>
			</div>
		</div>
		{% endapply %}

	</body>
</html>
