			html {
				font-family: 'Open Sans', sans-serif;
			}

			a {
				color: rgb(24, 24, 236);
				text-decoration: none;
			}

			#center {
				text-align: center;
			}

			body {
				margin: 0;
				padding: 0;
				background-color: #f4f4f4;
			}

			#container {
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				background-color: #ffffff;
				padding: 20px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}

			#header {
				text-align: center;
			}

			#logo {
				width: 100px;
				height: 100px;
				margin-bottom: 20px;
				border-radius: 50%;
			}

			#welcome-text {
				color: #333333;
				font-size: 18px;
				line-height: 1.6;
				margin-bottom: 20px;
			}

			#image-container {
				text-align: center;
				margin-bottom: 20px;
			}

			#main-image {
				width: 100%;
				max-width: 400px;
				height: auto;
			}

			#button {
				background-color: #1ab394;
				border-radius: 5px;
				color: #ffffff;
				padding: 10px 20px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
			}

			#footer {
				text-align: center;
				color: #777777;
				font-size: 14px;
			}