/** Theme Colors **/

:root {
    --primary: #159f84;
    --primary-light: #d4f6ee;
    --accent: #3498da;
    --accent-light: #5cace1;
    --warning: #fca311;
    --warning-light: #fcbf49;
    --success: #1eb041;
    --danger: #d2432e;
    --danger-light: #fc5a3e;
    --dark: #040519;
    --light: #e7eaf9;
    --white: #ffffff;
    --mini-light: #999999 --font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 5px;
    --gray-light: #ecf0f1;
    --border: 1px solid var(--gray-light);
    --color: #636466;
    --color-dark: #444;
    --color-primary: var(var(--white));
    --gray: #444;
    --gray-dark: #282828;
    --max-width: 1200px;
    --footer-background: #0a3d62;
    --font-size-small: 14px;
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --line-height-hight: 30px;
}

/* debug */

.b1 {
    background-color: red;
}

.b2 {
    background-color: blue;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: orange;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-dark);
}


/* flex */

.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1;
}

/* margin */

.m-5 {
    margin: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}


/* padding */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* general */

small {
    font-size: var(--font-size-small);
    font-size: var(--font-family);
}

.content {
    max-width: var(--max-width);
}

.btn {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    opacity: 0.4;
    transition: opacity 0.4s;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-warning {
    background-color: var(--warning);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-danger {
    background-color: var(--danger);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-primary-stroke {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

.btn-warning-stroke {
    border: 1px solid var(--warning);
    color: var(--warning);
    background-color: white;
}



.btn-primary-stroke:hover {
    background-color: var(--primary-light);
    color: var(--color-dark);
}

.btn-warning-stroke:hover {
    background-color: var(--warning-light);
    color: var(--color-dark);
}

/* sidebar */

.sidebar {
    min-width: 200px;
}

/* header */

header {
    box-shadow: var(--box-shadow);
}

.header-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}

.header-search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
}

.header-logo {
    width: 150px;
}

.header-logo img {
    max-width: 150px;
}

/* footer */

footer {
    background-color: var(--footer-background);
    color: var(--color-primary);
}

/* sidebar */

.sidebar-nav a {
    padding: 10px;
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: var(--font-size-small);
}

.sidebar-nav a:hover {
    opacity: 0.8;
    transition: opacity 0.4s;
}

.sidebar-nav a i {
    color: var(--color-dark);
}

.active {
    border-left: 5px solid var(--primary);
    background-color: var(--primary-light);
}

/** Reset CSS **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Global CSS **/

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    color: var(--color);
}

/** Flex **/
.d-flex {
    display: flex;
}

.flew-row-nowarp {
    flex-flow: row nowrap;
}

.flew-row-wrap {
    flex-flow: row wrap;
}

.flew-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-fill {
    flex: 1;
}

/** List Style **/

.list-style-none {
    list-style: none;
}

/** Link Style **/

a {
    text-decoration: none;
    color: inherit;
}

/** Margin and Padding **/

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.m-20 {
    margin: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}



.mr-10 {
    margin-right: 10px;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}


/** Text Align **/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark);
}

/*debug*/

.b1 {
    background-color: crimson;
}

.b2 {
    background-color: blue;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: orange;
}

.separator {
    border-bottom: 1px solid var(--gray-light);
    margin: 20px 0;
}

/*sidebar*/

.sidebar {
    min-width: 200px;
}

/*content*/
.content {
    max-width: var(--max-width);
}

/*header*/
header {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
}

.header-logo {
    width: 150px;
}

.header-logo img {
    max-width: 150;
}

.headeer-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}


.header-search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
}

/** Button Style **/

.btn {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: none;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
}

.btn-primary-stroke {
    background-color: var(--white);
    color: var(--primary);
    font-weight: 600;
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-light);
    color: var(--dark);
}


.btn-sm {
    padding: 5px 10px;
}

.color-white {
    color: var(--white);
}

.color-crimson {
    color: crimson;
}


/** Form Style **/

.app-content {
    background-color: var(--gray-light);
}

.block {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.form-row {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.form-row label {
    margin-bottom: 5px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-dark);
}

.form-row input,
textarea {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--gray-light);
    font-family: var(--font-family);
}

.form-row textarea {
    min-height: 200px;
}

.form-errors {
    color: var(--danger);
    font-size: var(--font-size-small);
}


/** Question Conent **/
.question-content {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    word-wrap: break-word;
    border-bottom: 1px solid var(--gray-light);
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
}

.clickable {
    cursor: pointer;
    color: var(--primary);
    font-weight: var(--font-weight-semi-bold);
}



small {
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

/* ... */


.clickable {
    color: var(--primary);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
}

.text-small {
    font-size: var(--font-size-small);
}

.block-shadow:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.4s;
}


.rating-up {
    color: var(--primary);
}

.rating-down {
    color: var(--danger-light);
}

/*Flash Message*/

.flash {
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius);
    color: var(--white);
    width: 600px;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
    font-weight: var(--font-weight-semi-bold);
}

.flash-success {
    background-color: var(--success);
}

.flash-error {
    background-color: var(--danger);
}

.flash-warning {
    background-color: var(--warning);
}

.flash-info {
    background-color: var(--accent-light);
}

.fa-check-circle {
    color: var(--success);
}


/* Profile */

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fa-thumbs-up {
    color: var(--primary);
}

.fa-thumbs-down {
    color: var(--danger);
}

/* Refacto profile */

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
}

.profile-header {
    text-align: center;
}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-header h1 {
    font-size: 24px;
    margin: 5px 0;
}

.profile-header p {
    margin: 5px 0;
    color: var(--dark);
}

.profile-body h2 {
    font-size: var(--font-weight-semi-bold);
    margin-bottom: 10px;
}

.profile-body p {
    line-height: 1.6;
}

.profile-footer{
    text-align: center;
    margin-top: 30px;
    color: var(--dark);
}