.question-tag {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    font-size: var(--font-size-small);
    color: var(--primary-light);
    font-weight: var(--font-weight-semi-bold);
    padding: 5px 10px;
}

.question-text{
    line-height: var(--line-height-hight);
    white-space: pre-line;
}

.question-response-element{
    margin-bottom: 30px;
    border-left: 5px solid var(--primary-light);
    border-radius: var(--border-radius);
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 10px;
}

small{
    color: var(--gray);
    opacity: 0.8;
    color: var(--mini-light)
}