<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Wonder App!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
			<script src="https://kit.fontawesome.com/ec70832a53.js" crossorigin="anonymous"></script>
			{# 	<link rel="stylesheet" href="{{asset('css/reset.css')}}">
						<link rel="stylesheet" href="{{asset('css/style.css')}}"> #}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{# <script src="{{ asset('js/index.js')}}"></script> #}
		{% endblock %}
		{# <script defer src="{{ asset('js/index.js')}}"></script> #}

	</head>
	<body class="d-flex flex-column">
		{{ include('partials/_header.html.twig') }}
		{{ include('partials/_flash_message.html.twig') }}
		<div class="app-content flex-fill d-flex flex-row-nowrap justify-content-center">
			<div class="content d-flex flex-row-nowrap flex-fill py-50">
				{{ include('partials/_sidebar.html.twig') }}
				<div class="flex-fill"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			{{ include('partials/_footer.html.twig') }}
		</body>

		{# {% block javascripts %} #}
	{# {{ encore_entry_script_tags('app') }} #}
		{# <script src="{{ asset('js/index.js')}}"></script> #}
		{# {% endblock %} #}
	</html>
