{% use 'form_div_layout.html.twig'%}


{%- block form_row -%}
{%- set widget_attr = {} -%}
{%- if help is not empty -%}
	{%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
{%- endif -%}
{% set row_attr = row_attr|merge({class: row_attr.class|default('') ~ ' form-row'}) %}

<div {% with {attr: row_attr} %} {{block('attributes')}} {%endwith%}>

	{{- form_label(form) -}}
	{{- form_errors(form) -}}
	{{- form_widget(form, widget_attr) -}}
	{{- form_help(form) -}}
</div>{%- endblock form_row -%}{%- block form_errors -%}{%- if errors|length > 0 -%}
<ul class="form-errors">
	{%- for error in errors -%}
		<li>{{ error.message }}</li>
	{%- endfor -%}
</ul>{%- endif -%}{%- endblock form_errors -%}
