{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mon Profile
{% endblock %}

{% block body %}
	<div class="block mb-20">
		<h1 class="pb-30 text-center">Modifier mon Profile</h1>
		{{ form_start(form) }}
		{{ form_row(form.gender, {'label': false})}}
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.email) }}
		{{ form_rest(form) }}
		<div style="width: 200px; margin: 0 auto; display: block;text-align: center; margin-top: 20px;">
			<button class="btn btn-warning">Mettre à jour</button>
		</div>
		{{ form_end(form) }}

	</div>

	{# 	<div class="block mb-20">
			<h3 class="pb-30">Mes questions</h3>
			<ul>
				{% for question in app.user.questions %}
					<li>
						<a href="{{ path('app_question_show', {'id': question.id}) }}">{{ question.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	
		<div class="block mb-20">
			<h3 class="pb-30">Mes réponses</h3>
	
			<ul>
				{% for comment in app.user.comments %}
					<li>
						-
						<a href="{{ path('app_question_show', {'id': comment.question.id}) }}">{{ comment.content|slice(0, 150) }}...</a>
					</li>
				{% endfor %}
			</ul>
		</div> #}
{% endblock %}

