{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mon Profile
{% endblock %}


{% block body %}
	<div class="block mb-20">
		{# {{ form_start(form) }}
						{{ form_row(form.gender, {'label': false})}}
						{{ form_row(form.firstName) }}
						{{ form_row(form.lastName) }}
						{{ form_row(form.email) }}
						{{ form_rest(form) }}
						<div style="width: 200px; margin: 0 auto; display: block;text-align: center; margin-top: 20px;">
							<button class="btn btn-warning">Mettre à jour</button>
						</div>
						{{ form_end(form) }} #}

		<div class="profile-container">
			<div class="profile-header">
				<img src="{{app.user.picture}}" alt="Profile Picture">

				<h2>
					{{app.user.firstName|capitalize}}
					{{app.user.lastName|upper}}
				</h2>
				<p>
					<b>Email</b>:
					{{app.user.email}}
				</p>

			</div>
			<div class="profile-body">
				<h2>Mes participations</h2>
				<ul>
					<li>
						<b>Questions</b>:
						{{app.user.questions|length}}
					</li>
					<li>
						<b>Réponses</b>:
						{{app.user.comments|length}}
					</li>
			</div>
			<p class="profile-footer mt-30">
				Membre depuis le {{app.user.createdAt|date('d/m/Y')}}
			</p>
		</div>


	</div>

	{# 	<div class="block mb-20">
				<h3 class="pb-30">Mes questions</h3>
				<ul>
					{% for question in app.user.questions %}
						<li>
							<a href="{{ path('app_question_show', {'id': question.id}) }}">{{ question.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		
			<div class="block mb-20">
				<h3 class="pb-30">Mes réponses</h3>
		
				<ul>
					{% for comment in app.user.comments %}
						<li>
							-
							<a href="{{ path('app_question_show', {'id': comment.question.id}) }}">{{ comment.content|slice(0, 150) }}...</a>
						</li>
					{% endfor %}
				</ul>
			</div> #}
{% endblock %}
