{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mon Profile
{% endblock %}

{% block body %}
	<div class="block mb-20">
		<h1 class="pb-30 text-center">Modifier mon mot de passe</h1>
		{{ form_start(form) }}
		{{ form_rest(form) }}
		<div style="width: 200px; margin: 0 auto; display: block;text-align: center; margin-top: 20px;">
			<button class="btn btn-warning">Mettre à jour</button>
		</div>
		{{ form_end(form) }}

	</div>

{% endblock %}

