{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profile
	{{user.fullName}}
{% endblock %}


{% block body %}

	<div class="block">
		<h2 class="pb-20 text-center">
			Profile de
			{{user.fullName}}

		</h2>

		<div class="d-flex flex-row-nowrap">
			<img src="{{user.picture}}" alt="profil_de_{{user.fullName}}" class="mr-10 profile-picture">
			<ul>
				<li class="mb-10">
					<strong class=="mr-10">Prénom :</strong>
					{{user.firstName}}
				</li>
				<li class="mb-10">
					<strong class=="mr-10">Nom :</strong>
					{{user.lastName}}
				</li>
				<li class="mb-10">
					<strong class=="mr-10">Email :</strong>
					{{user.email}}
				</li>
				<li class="mb-10">
					<strong class=="mr-10">Membre depuis le :</strong>
					{{user.createdAt|date('d/m/Y')}}
				</li>
			</ul>
			<div class="ml-auto">
				{% if user.comments is not null and user.comments|length > 0  %}

					<p class="mb-10">
						<strong>Nb Commentaires :</strong>
						{{user.comments|length}}
					</p>
				{% else %}
					<p class="text-center">Aucun commentaire</p>
				{% endif %}

				{% if user.questions is not null and user.questions|length > 0 %}
					<p class="mb-10">
						<strong>Nb Articles :</strong>
						{{user.questions|length}}
					</p>
				{% else %}
					<p class="text-center">Aucune question</p>
				{% endif %}
			</div>
		</div>

	</div>

	{% if user.questions|length > 0 %}
		<div class="block mb-20 mt-20">
			<h3 class="pb-30 text-center">Question</h3>
			<ul class="list-unstyled d-flex flex-column">
				{% for question in user.questions %}
					<li class="mb-20 d-flex justify-content-between">
						<a href="{{ path('app_question_show', {'id': question.id}) }}">
							{{ question.title }}
							{% if question.rating > 2 %}
								<i class="fas fa-thumbs-up"></i>
							{% else %}
								<i class="fas fa-thumbs-down"></i>
							{% endif %}
						</a>

						<span>{{ question.createdAt|ago(locale='fr')}}</span>
					</li>


				{% endfor %}
			</ul>
		</div>
	{% endif %}


	{% if user.comments|length > 0 %}
		<div class="block mb-20 mt-20">
			<h3 class="pb-30 text-center">Réponses</h3>
			<ul class="list-unstyled">
				{% for comment in user.comments %}
					<li class="mb-20 justify-content-between">
						<a href="{{ path('app_question_show', {'id': comment.question.id}) }}">
							<i class="fa-solid fa-question"></i>
							{{ comment.content|slice(0, 150) }}...</a>
						{% if comment.rating > 2 %}
							<i class="fas fa-thumbs-up"></i>
							{% if comment.rating != 0 %}
								{{comment.rating|abs}}
							{% endif %}
						{% else %}
							<i class="fas fa-thumbs-down"></i>
							{% if comment.rating != 0 %}
								{{comment.rating|abs}}
							{% endif %}

						{% endif %}

						<p>{{ comment.createdAt|ago(locale='fr')}}</p>
					</li>

				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
